body {
    background-color: #181818;
}

header {
    padding: 0px 10% 20px 10%;
    color: #b3b3b3;
}
    header h1 {
        font-size: 50px;
        color: #fff;
    }
    header img {
        width: 50%;
        border-radius: 20px;
        margin: 100px 0px 100px 0px;
}

section {
    padding: 0px 10% 0px 10%;
    color: #b3b3b3;
}

article {
    background-color: #282828;
    padding: 20px;
    border-radius: 20px;
    margin: 15px;
}
    article h1 {
        font-size: 30px;
        color: #fff;
    }
